language: node_js
node_js:
  - "node"
dist: trusty
sudo: false
addons:
  chrome: stable
cache:
  directories:
    - node_modules
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
